.center > div > h2 > a:hover{
    color:#b1acac;
}

h3{
    font-size: 1.6em;
}

.header{
    color: #ffffff;
}

.parallax-container .center{
    height: 50%;
    align-items: center;
}

.parallax-container .center .hea{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.parallax-container .center .hea h1{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 3.2em;
    margin-top: 3.4em;
    margin-bottom: 0;
}

.parallax-container .center p{
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
    text-decoration: underline;
}

.section > h2 > a:hover{
    color: #b1acac;
}

.space-empty{
    margin: 5em 0px;
}

span{
    font-weight: bold;
    font-size: 1.4em;
    color: #ffffff;
}

.transparent-div{
    background-color: rgba(0, 0, 0, 0.2);
}
